.form-container{
    width: 70%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 20px;
    background-color: #5bc0de;
    color: #fff;    
    font-family: 'Dosis', sans-serif;
    height: 450px;
}

.table-heading{
    color: #5bc0de;
}

.table-container{
    width: 68%;
    margin: 0 auto;
    font-family: 'Dosis', sans-serif;
}

label{
    font-weight: normal;
}

.form-left{
    width: 55%;
    float: left;
}

.form-right{
    float: right;
    margin-top: -355px;
    margin-left: 500px;
}

.form-heading{
    text-align: center;
    color: #151515;
    background-color: #337ab7;
    padding: 8px;
    margin-top: 0;
    color: #fff;
}

.submit-btn{
    float: right;
    margin-right: 20%;
}

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

